html {
  background-image: url(logo-white.png), url(bg-frame.png);
  background-size: 140px auto, cover;
  background-position: right 50px top 50px, center;
  background-repeat: no-repeat, no-repeat;
}
